.answer {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.title h1,
.description h1 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.body {
    margin-bottom: 20px;
}

.question p {
    background-color: var(--question-bg-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.answer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination {
    margin: 16px;
    display: flex;
    gap: 8px;
}

.pagination a {
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: var(--primary-hover);
}

.pagination a {
    color: white;
    text-decoration: none;
}

.controls button {
    padding: 8px;
    background-color: var(--question-bg-color);
    color: black;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 4px;
    margin: 16px;
}