* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #F1F1F1;
}

:root {
    --primary-color: #67a84f;
    --secondary-color: #1d3016;

    --primary-hover: #a4dc8f;
    --secondary-hover: #354c2c;

    --text-color: #FFFFFF;

    --question-bg-color: #e6ffdd;
    --grey-color: #aaaaaa;
}